* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif !important;
  font-size: 16px;
}

footer {
  padding: 1rem;
  font-size: 0.7rem;
  text-align: left;
  position: relative;
  bottom: 0;
  background: black;
  background-size: cover;
}

nav a {
  padding-right: 1rem;
}

nav a, footer .container, .jumbotron, #copyright {
  color: white;
}

nav a:hover, p a:hover {
  color: #66FFCC;
}

p a {
  color: #495057;
  text-decoration: none;
  background-color: transparent;
}

.email, .info p, .info h2, div h3, ul, li, address {
  color: black;
}

li, h2, nav li {
  margin-left: 0.7rem;
}

img {
  margin-bottom: 1rem;
  margin: 2rem;
  background-color: white;
}

address {
  font-style: italic;
  margin-left: 1rem;
}

header {
  text-align: left;
  color: white;
  position: relative;
  top: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  background: url("images/1-nR4SClioWKU6WbUV0qegMg.jpeg") center no-repeat;
  background-size: cover;
}
