* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

container {
  display: flex;
}

header {
  text-align: center;
  color: #abafba;
  position: relative;
  top: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  background: url("images/header_photo.jpeg") center no-repeat;
  background-size: cover;
}

.contact {
  width: 380px;
  position: relative;
  top: -10px;
  background-color: silver;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
	height: 40px;
}

.contact h2 {
  color: white;
  text-align: center;
}

#wrapper {
  width: 380px;
  display: flex;
  flex-flow: column;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  position: relative;
  top: -10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 3px #444;
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.8em;
}

nav a:hover, p a:hover {
  color: #354dd6;
}

a {
  text-decoration: none;
  background-color: transparent;
}

form {
    width: 160px;
    clear: both;
}

textarea {
    vertical-align: top;
    width: 300px;
    max-width: 440px;
    height: 80px;
    max-height: 180px;
}

img {
  margin-bottom: 1rem;
  margin: 2rem;
  background-color: white;
}

footer {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
  bottom: 0;
  background-size: cover;
}
